<section class="ui raised segment">
    <div class="ui grid">
        <article>
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Area (m2)</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Added By</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each islands}}
                    <tr>
                        <td> {{name}} </td>
                        <td> {{area}} </td>
                        <td> {{category}} </td>
                        <td> {{description}} </td>
                        <td> {{addedBy.firstName}} {{addedBy.lastName}} </td>
                        <td>
                            <a href=/islandlist/deleteisland/{{id}}" class="ui red icon button">
                            <i class="icon trash"></i>
                            </a>
                        </td>
                        <td>
                            <a href=/islandlist/showisland/{{id}}" class="ui green icon button">
                                <i class="icon info circle"></i>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>