{{#each islands}}
<div class="ui segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <h3 class="ui block header">
                {{name}}
            </h3>
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <p><b>Area (m2): </b>{{area}}</p>
                </div>
                <div class="ui segment">
                    <p><b>Location: </b>{{category}}</p>
                </div>
                <div class="ui segment">
                    <p><b>Added By: </b>{{addedBy.firstName}} {{addedBy.lastName}}</p>
                </div>
            </div>
            <div class="ui segment">
                <p><b>Description: </b>{{description}}</p>
            </div>
            <div class="ui horizontal segments">
                <div class="ui center aligned segment">
                    <a href=/islandlist/deleteisland/{{id}}" class="ui red icon button">
                        <i class="large icon trash"></i>
                    </a>
                </div>
                <div class="ui center aligned segment">
                    <a href=/islandlist/showisland/{{id}}" class="ui green icon button">
                    <i class="icon large info circle"></i>
                </a>
                </div>
                <div class="ui center aligned segment">
                    {{> uploadpicture}}
                </div>
            </div>
        </div>
        <div class="column">
            {{#each pictures}}
            <img class="ui small image" src={{img}}>
                <div class="ui center aligned segment">
                    <a href=/deletepicture/{{img}}" class="ui red icon button">
                        <i class="large icon trash"></i>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="ui vertical divider">

    </div>
</div>
{{/each}}